
QWidget {
        background-color: "#3d3d3d";
        color: "grey";
        width: 80px;
        
       
    }
QPushButton {      
        font-size: 12px;
        padding: 1px;
        background-color: "#5c5c5c";
        
        color: "white";
        border-radius: 5px;
        border-color: beige;
        border: 2rem solid
        
    }
QTextEdit {
        font-size: 12px;
        padding: 1px;
        background-color: "#ffc0cb";
        color: "3d3d3d";
        border-radius: 5px;
        border-color: darkgrey;
        border: 2rem solid;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

QLineEdit {
        font-size: 12px;
        padding: 1px;
        background-color: "#5c5c5c";
        color: "#ffc0cb";
        border-radius: 5px;
        border-color: beige;
        border: 2rem solid
    }



/* Path: main.cpp */

